.calc{
    background: #61625d;
    padding: 25px;
    text-align: left;
    width: 268px;
    margin: 0 auto;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-size: 15px;
}
.calc label{
    color: white;
    display: block;
    margin: 12px 0 0;
    position: relative;
}

.calc .label_after{
    position: absolute;
    top:20px;
    right:10px;
    font-size: 30px;
}

.calc input{
    background: #494a44;
    padding: 12px 12px 5px;
    border: none;
    color: white;
    font-size: 25px;
    margin: 6px 0 5px 0;
    width: 250px;
}
.calc_buttons{
    width: 320px;
    margin: 5px 0 20px -1px;
}
.calc_buttons div{
    background: white;
    display: inline-block;
    width: 50px;
    text-align: center;
    padding: 6px 5px;
    margin: 6px 3px;
    cursor: pointer;
}
.calc_buttons .active{
    background: #18c746;
}
.calc-total{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 22px;
    width: 320px;
    text-align: left;
    padding: 14px 0;
    background: #fef56c;
    max-width: 400px;
    margin: 0 auto;
}
.calc-total div{
    margin: 0 30px;
    font-size: 32px;
    font-weight: bold;
}
.calc-apply p, .calc-total p{
    margin: 0 30px;
}

.calc-apply{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    max-width: 320px;
    margin: 23px auto;
    width: 100%;
    text-align: left;
}
.calc-apply .little{
    font-size: 14px;
}
.apply-button{
    background: #18c746;
    color: white;
    width: 150px;
    padding: 10px;
    margin: 13px 30px;
    box-shadow: 0 5px 15px #aaa;
    text-align: center;
    text-shadow: 1px 2px 7px #444;
    cursor: pointer;
}


