@font-face {
    font-family: "Museo Cyrillic";
    src: url("fonts/exljbris - Museo Cyrl 300.otf");
}

@font-face {
    font-family: "Museo Cyrillic Bold";
    src: url("fonts/exljbris - Museo Cyrl 500.otf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/UbuntuRegular.eot");
    src: url("fonts/UbuntuRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/UbuntuRegular.woff") format("woff"),
    url("fonts/UbuntuRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Geneva, Arial, Helvetica, sans-serif;
    color: #282828;
}

a {
    color: white;
    text-decoration: none;
}

hr {
    background: #61625d;
    height: 0;
    margin: 25px 0 35px;
}

h2 {
    font-family: "Museo Cyrillic", Geneva, Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: inherit;
    margin: 15px 0;
}

table {
    width: 100%;
    border-spacing: 0;
}

tr:nth-child(even) {
    background: #e4e4e4;
}

tr {
    cursor: pointer;
}

tr td:last-child {
    display: none;
}

td, th {
    text-align: center;
    padding: 9px; /* Поля вокруг текста */
    vertical-align: bottom;
}

th {
    font-size: 12px;
    border-bottom: solid 1px black;
}

.page {
    max-width: 600px;
    margin: 0 auto;
}

/*begin HEADER*/
.b-header {
    background: #61635d;
    height: 77px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.b-header_leaf {
    position: absolute;
    top: 8px;
    left: -38px;
}

.b-header_logo {
    margin-top: 18px;
}

.b-header_button {
    position: absolute;
    right: 0;
    width: 77px;
    height: 77px;
    cursor: pointer;
}

.b-header_button.off {
    background-image: url(images/chrest_yellow.png)
}

.b-header_button.on {
    background-image: url(images/hamburger.png)
}

.b-header_arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    line-height: 43px;
    width: 39px;
    height: 37px;
    border-radius: 3px;
    background-color: #fdf56b;
    z-index: 1;
    cursor: pointer;
}

.b-header_arrow.hide {
    display: none;
}

/*end HEADER*/

.b-button {
    font-family: Ubuntu, Geneva, Arial, Helvetica, sans-serif;
    margin: 10px auto;
    width: 207px;
    height: 40px;
    background-color: #07c551;
    text-align: center;
    color: white;
    font-size: 17px;
    line-height: 40px;
    box-shadow: 0 7px 15px #444;
    text-shadow: 0 1px 5px #444;;
    cursor: pointer;
    margin-bottom: 18px;
}

.b-button.white {
    box-shadow: 0 7px 15px #aaa;
    text-shadow: 0 1px 5px #555;
    margin-left: 0;
}

.b-button.wrap {

    width: 180px;
    margin: 0 auto;
    line-height: 20px;
    padding: 6px 40px;
}

.b-email {
    text-align: center;
    padding: 30px 0;
}

.b-email-left {
    margin: 35px 26px;
    color: #545454;
}

.b-menu {
    font-family: "Museo Cyrillic", Geneva, Arial, Helvetica, sans-serif;
    background: #61635d;
    color: white;
    padding: 26px;
    border-top: 1px solid #ffffff;
}

.b-menu_phone {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #81827d;
    padding: 17px 0;
}

.b-menu_lest a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 18px;
    line-height: 40px;
    border-bottom: 1px solid #81827d;
}

/*begin b-send*/
.b-send {
    color: white;
    background: #68b84a;
    padding: 26px;
    height: 1000px;
    position: relative;
}

.b-send_logo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.b-send_title {
    display: block;
    font-size: 30px;
    text-align: center;
    font-family: "Museo Cyrillic", Geneva, Arial, Helvetica, sans-serif;
    margin: 50px 0 20px 0;
}

.b-send label {
    display: block;
    font-size: 11px;
    padding: 14px 0 8px 0;
}

.b-send input {
    background: #529d36;
    height: 40px;
    width: 100%;
    border: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .4) inset;
}

.b-send .checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: left;
    margin-right: 8px;
    margin-bottom: 30px;
}

.b-send .checkbox_text {
    font-size: 16px;
    max-width: 50px;
}

.b-send_button {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 120px;
    color: white;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border: 2px solid white;
    background: #68b84a;
    cursor: pointer;
}

.b-send_text {
    text-align: center;
}

/*end b-send*/

/*.b-content{*/
/*!*background: white;*!*/
/*}*/

/*begin b-title-bird*/
.b-title-bird {
    position: relative;
    height: 114px;
    overflow: hidden;
}

.b-title-bird_span {
    position: absolute;
    right: 0;
    top: 25px;
    background: #fcf560;
    width: 235px;
    height: 88px;
}

.b-title-bird_img {
    position: absolute;
    right: 0;

}

.b-title-bird_text {
    position: absolute;
    right: -15px;
    top: 38px;
    font-size: 25px;
    font-family: "Museo Cyrillic Bold", Geneva, Arial, Helvetica, sans-serif;
    width: 300px;
}

/*end b-title-bird*/

/*begin b-title-bird2*/
.b-title-bird2 {
    position: relative;
    height: 93px;
    overflow: hidden;
}

.b-title-bird2_span {
    position: absolute;
    right: 0;
    top: 25px;
    background: #fcf560;
    width: 235px;
    height: 57px;
}

.b-title-bird2_img {
    position: absolute;
    right: 0;

}

.b-title-bird2_text {
    position: absolute;
    right: 0;
    top: 33px;
    font-size: 32px;
    font-family: "Museo Cyrillic Bold", Geneva, Arial, Helvetica, sans-serif;
    width: 300px;
}

/*end b-title-bird2*/

/*begin b-title-bird3*/
.b-title-bird3 {
    position: relative;
    height: 93px;
    overflow: hidden;
}

.b-title-bird3_span {
    position: absolute;
    right: 0;
    top: 25px;
    background: #fcf560;
    width: 235px;
    height: 77px;
}

.b-title-bird3_img {
    position: absolute;
    right: 0;
}

.b-title-bird3_text {
    position: absolute;
    right: 85px;
    top: 25px;
    font-size: 25px;
    font-family: "Museo Cyrillic Bold", Geneva, Arial, Helvetica, sans-serif;
    width: 200px;
}

/*end b-title-bird3*/

/*begin b-title-raccoon*/
.b-title-raccoon {
    position: relative;
    height: 130px;
    overflow: hidden;
}

.b-title-raccoon_span {
    position: absolute;
    right: 0;
    top: 25px;
    background: #fcf560;
    width: 235px;
    height: 80px;
}

.b-title-raccoon_img {
    position: absolute;
    right: -70px;

}

.b-title-raccoon_text {
    position: absolute;
    right: 87px;
    top: 25px;
    font-size: 30px;
    font-family: "Museo Cyrillic Bold", Geneva, Arial, Helvetica, sans-serif;
    width: 210px;
    color: black;
}

/*end b-title-raccoon*/

/*begin b-title-turtle*/
.b-title-turtle {
    position: relative;
    height: 118px;
    overflow: hidden;
}

.b-title-turtle_span {
    position: absolute;
    right: 0;
    top: 25px;
    background: #fcf560;
    width: 235px;
    height: 73px;
}

.b-title-turtle_img {
    position: absolute;
    right: -30px;
}

.b-title-turtle_text {
    position: absolute;
    right: 95px;
    top: 25px;
    font-size: 30px;
    font-family: "Museo Cyrillic Bold", Geneva, Arial, Helvetica, sans-serif;
    width: 200px;
}

/*end b-title-turtle*/

/*begin b-title-turtle2*/
.b-title-turtle2 {
    position: relative;
    height: 98px;
    overflow: hidden;
}

.b-title-turtle2_span {
    position: absolute;
    right: 0;
    top: 25px;
    background: #fcf560;
    width: 235px;
    height: 42px;
}

.b-title-turtle2_img {
    position: absolute;
    right: -40px;
}

.b-title-turtle2_text {
    position: absolute;
    right: 28px;
    top: 25px;
    font-size: 30px;
    font-family: "Museo Cyrillic Bold", Geneva, Arial, Helvetica, sans-serif;
    width: 250px;
}

/*end b-title-turtle2*/

/*begin b-title-hedgehog*/
.b-title-hedgehog {
    position: relative;
    height: 87px;
    overflow: hidden;
}

.b-title-hedgehog_span {
    position: absolute;
    right: 0;
    top: 32px;
    background: #b3e3fa;
    width: 235px;
    height: 54px;
}

.b-title-hedgehog_img {
    position: absolute;
    right: -115px;
    top: -30px;

}

.b-title-hedgehog_text {
    position: absolute;
    right: -15px;
    top: 42px;
    font-size: 25px;
    font-family: "Museo Cyrillic Bold", Geneva, Arial, Helvetica, sans-serif;
    width: 300px;
}

/*end b-title-hedgehog*/

/*begin b-title-hedgehog2*/
.b-title-hedgehog2 {
    position: relative;
    height: 85px;
    overflow: hidden;
}

.b-title-hedgehog2_span {
    position: absolute;
    right: 0;
    top: 32px;
    background: #b3e3fa;
    width: 235px;
    height: 54px;
}

.b-title-hedgehog2_img {
    position: absolute;
    right: -30px;
    top: -35px;

}

.b-title-hedgehog2_text {
    position: absolute;
    right: -15px;
    top: 42px;
    font-size: 25px;
    font-family: "Museo Cyrillic Bold", Geneva, Arial, Helvetica, sans-serif;
    width: 300px;
}

/*end b-title-hedgehog2*/

/*begin b-title-duck*/
.b-title-duck {
    position: relative;
    height: 137px;
    overflow: hidden;
}

.b-title-duck_span {
    position: absolute;
    right: 0;
    top: 28px;
    background: #b3e3fa;
    width: 235px;
    height: 124px;
}

.b-title-duck_img {
    position: absolute;
    right: -25px;
    top: 7px;

}

.b-title-duck_text {
    position: absolute;
    right: 45px;
    top: 34px;
    font-size: 30px;
    font-family: "Museo Cyrillic Bold", Geneva, Arial, Helvetica, sans-serif;
    width: 250px;
}

/*end b-title-duck*/

/*begin b-title-baterflay*/
.b-title-baterflay {
    position: relative;
    height: 102px;
    overflow: hidden;
}

.b-title-baterflay_span {
    position: absolute;
    right: 0;
    top: 25px;
    background: #fcf560;
    width: 248px;
    height: 78px;
}

.b-title-baterflay_img {
    position: absolute;
    right: 10px;
    top: -20px;

}

.b-title-baterflay_text {
    position: absolute;
    right: 190px;
    top: 32px;
    font-size: 25px;
    font-family: "Museo Cyrillic Bold", Geneva, Arial, Helvetica, sans-serif;
    max-width: 100px;
}

/*end b-title-baterflay*/

/*begin b-title-baterflay2*/
.b-title-baterflay2 {
    position: relative;
    height: 102px;
    overflow: hidden;
}

.b-title-baterflay2_span {
    position: absolute;
    right: 0;
    top: 25px;
    background: #fcf560;
    width: 248px;
    height: 78px;
}

.b-title-baterflay2_img {
    position: absolute;
    right: -30px;
    top: -20px;
}

.b-title-baterflay2_text {
    position: absolute;
    right: 190px;
    top: 32px;
    font-size: 25px;
    font-family: "Museo Cyrillic Bold", Geneva, Arial, Helvetica, sans-serif;
    max-width: 100px;
}

/*end b-title-baterflay*/

/*begin b-title-baterflay3*/
.b-title-baterflay3 {
    position: relative;
    height: 87px;
    overflow: hidden;
}

.b-title-baterflay3_span {
    position: absolute;
    right: 0;
    top: 35px;
    background: #fcf560;
    width: 234px;
    height: 52px;
}

.b-title-baterflay3_img {
    position: absolute;
    right: 10px;
    top: -20px;
}

.b-title-baterflay3_text {
    position: absolute;
    right: 190px;
    top: 42px;
    font-size: 30px;
    font-family: "Museo Cyrillic Bold", Geneva, Arial, Helvetica, sans-serif;
    max-width: 100px;
}

/*end b-title-baterflay3*/

.b-title-baterflay4 {
    height: 111px;
    margin-bottom: -20px;
}

/*begin b-trigger*/
.b-trigger {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 266px;
    color: white;
    text-align: center;
}

.b-trigger_on {
    background: black;
    padding: 8px 20px;
}

.b-trigger_off {
    background: #07c551;
    padding: 8px 20px;
}

/*end b-trigger*/

/*begin b-trigger2*/
.b-trigger2 {
    display: table;
    justify-content: center;
    margin: 20px auto;
    width: 256px;
    color: white;
    text-align: center;
}

.b-trigger2 div {
    background: #07c551;
    padding: 8px 20px;
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid white;
}

/*end b-trigger2*/

.b-unistroy {
    width: 197px;
    margin: 45px auto 10px;
    display: block;
}

.b-contact {
    padding: 0 26px;
    margin: 25px 0;
    font-size: 16px;
    color: #545454;
}

.b-contact_b {
    font-weight: bold;
    margin-top: 15px;
}

.b-copyriht {
    margin: 28px 0;
    text-align: center;
    font-size: 12px;
    color: #545454;
}

.b-map {
    position: relative;
    width: 320px;
    margin: 0 auto;
}

.b-map_point {
    position: absolute;
    bottom: 0;
    left: 0;
}

.b-document {
    padding: 5px 26px;
    font-size: 16px;
    margin: 0 auto;
    max-width: 360px;
}

.b-document label {
    display: block;
    font-size: 12px;
}

.b-document_img {
    float: left;
    padding-right: 15px;
    cursor: pointer;
}

.b-document_i {
    font-style: italic;
    font-size: 13px;
    margin-top: 10px;
}

.b-video {
    position: relative;
    margin: 0 auto;
    width: 320px;
    color: #545454;
}

.b-video_arrow_circle {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: #07c551;
    opacity: 0.8;
    line-height: 70px;
    text-align: center;
    top: 64px;
    left: 130px;
    cursor: pointer;
}

.b-video_text {
    padding: 20px 0 20px 25px;
}

.b-video_text div {
    font-size: 14px;
    padding: 3px 0 15px 0;
}

.b-banks {
    padding: 26px;
    color: #545454;
}

.b-img-center {
    text-align: center;
}

.b-banks_link {
    background: #bb94c3;
    color: white;
    display: inline-block;
    padding: 2px;
}

.b-news_title {
    font-size: 19px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

.b-news_title a {
    color: inherit;
}

.b-news_title div {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

.b-news_title_span {
    display: table;
    width: 186px;
}

.b-news_title img {
    position: absolute;
    top: 0;
    right: -26px;
}

.b-infra {
    clear: both;
}

.b-infra_div {
    padding-top: 20px;
    font-size: 15px;
}

.b-infra_div:nth-child(even) .b-infra_img {
    float: right;
    margin-left: 15px;
}

.b-infra_div:nth-child(odd) .b-infra_img {
    float: left;
    margin-right: 15px;
}

.b-infra_div {
    clear: both;
}

.b-infra_symbol {
    display: inline-block;
    background: url(images/symbol.png);
    width: 36px;
    height: 41px;
    margin-bottom: 15px;
}

.b-infra_div:nth-child(odd) .b-infra_p {
    text-align: left;
    padding: 0 10px;
}

.b-infra_div:nth-child(even) .b-infra_p {
    text-align: right;
    padding: 0 10px;
}

.b-infra_div:nth-child(odd) .b-infra_txt_buttom {
    clear: both;
    padding: 15px 16px;
}

.b-infra_div:nth-child(even) .b-infra_txt_buttom {
    clear: both;
    padding: 15px 56px;
    text-align: left;
}

.b-gallery {
    width: 320px;
    height: 395px;
    background: #b3e3fa;
    margin: 0 auto;
    position: relative;
}

.b-gallery_button {
    position: absolute;
    width: 77px;
    height: 57px;
    top: 151px;
    padding-top: 20px;
    cursor: pointer;
}

.b-gallery_button.left {
    left: 0;
}

.b-gallery_button.right {
    right: 0;
}

.b-gallery_button.right div {
    float: right;
}

.b-gallery_button div {
    text-align: center;
    line-height: 44px;
    opacity: 0.5;
    width: 38px;
    height: 38px;
    border-radius: 38px;
    background: #222;
}

.b-blue-fon {
    font-size: 20px;
    display: inline-block;
    background: #b3e3fa;
    margin: 2px;
    padding: 5px 10px 5px 26px;
    clear: both;
}

.b-company-history {
    font-size: 15px;
}

.b-company-history p {
    display: flex;
    align-items: center;
    margin: 0;
}

.b-company-history span {
    padding: 10px;
}

.b-company-history p:nth-child(odd) img {
    padding-right: 10px;
}

.b-company-history p:nth-child(even) img {
    padding-left: 10px;
}

.b-company-history p:nth-child(odd) {
    flex-direction: row;
}

.b-company-history p:nth-child(even) {
    flex-direction: row-reverse;
}

.b-company {
    font-size: 15px;
}

.b-filter {
    margin-top: -10px;
    color: white;
    position: relative;
    text-align: center;
}

.b-filter_buttons {
    margin-right: 2px;
}

.b-filter_buttons_off {
    background: #07c551;
    padding: 8px 10px;
}

.b-filter_buttons_on {
    background: #000;
    padding: 8px 10px;
}

.b-filter_opener {
    background: #61625d;
    padding: 10px 14px 6px;
    height: 150px;
    cursor: pointer;
    vertical-align: middle;
}

.b-filter-body {
    margin: 0 auto;
    margin-top: 12px;
    background: #61625d;
    font-size: 12px;
    display: none;
}

.b-filter-body label {
    width: 70px;
    display: inline-block;
}

.b-filter-body_area {
    width: 266px;
    margin: 0 auto;
    text-align: left;
    padding: 26px;
}

.b-filter-body input {
    font-size: 22px;
    background: #494a44;
    border: none;
    color: white;
    display: inline-block;
    width: 110px;
    text-align: right;
    padding: 5px;
    margin: 5px 0;
}

.b-filter-body button {
    background: white;
    border: none;
    margin: 0 13px 25px 0;
    padding: 7px 16px;
}

.b-filter-body_clear {
    display: inline-block;
    font-size: 15px;
    padding: 6px 15px;
    background: #61625d;
    border: 2px solid white;
    cursor: pointer;
}

.onOff {
    margin: 0 0 -6px 10px;
    cursor: pointer;
}

.info {
    margin-top: 15px;
}